@font-face{font-family:"___________";src:url(/Bitcheese.ttf)}*{font-family:"Inter",sans-serif;box-sizing:border-box;padding:0;margin:0;scroll-behavior:auto!important}.________{font-family:"___________","Inter",sans-serif;font-size:64px}.________-h{font-family:"___________","Inter",sans-serif}body{overflow-x:hidden}#___{overflow:hidden}#____circle{height:500px;width:500px}@media (max-width:600px){.________{font-size:48px}#____circle{height:300px;width:300px}}img{transition:all 0.5s ease}._________{filter:gray;-webkit-filter:grayscale(1);filter:grayscale(1)}#haha{opacity:0;transition:all 0.5s ease}#hoverhere:hover img{webkit-filter:blur(1px);filter:blur(1px)}#hoverhere:hover #haha{opacity:1}.__________{background:rgba(0,0,0,.8);border-radius:16px;box-shadow:0 4px 30px rgba(0,0,0,.1);backdrop-filter:blur(5px);-webkit-backdrop-filter:blur(5px);border:1px solid rgba(0,0,0,.3)}.__________-2{background:rgba(255,255,255,.4);border-radius:16px;box-shadow:0 4px 30px rgba(0,0,0,.1);backdrop-filter:blur(5px);-webkit-backdrop-filter:blur(5px);border:1px solid rgba(0,0,0,.3)}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-left: 1px solid #212529;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #212529; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }